body {
    background-color:#1f1f1f;
}

h1 {
    color: ##fa4b00;
    text-align: left;
}

#logo{
    width: 10%;
}

h2 {
    color: ##fa4b00;
}

.texto-principal {
    margin-right: 20%;
}

p {
    color:  #5F9EA0;
}

#imagem-principal {
    width: 10%;
    margin-left: 80%;
    border: 5px dotted #7a5b3e ;
    float: left;
    position: absolute;
}

header{
  background-color: black;
}

nav li{
  font-size: 30px;
  display: flex;
  margin-right: 5%;
}

nav ul{
  display: flex;
}

nav a{
  text-transform: uppercase;
  text-decoration:none;
}

.navigation{
  border: 5px dotted #ffffff;
  padding:5%;
  margin: 5%;
}

.itens {
	color:  #cdbdae;
	text-decoration: underline;
  display: block;
}



/*.color1 { #7a5b3e };
.color2 { #fafafa };
.color3 { #fa4b00 };
.color4 { #cdbdae };
.color5 { #1f1f1f };*/
